hb-bass-navigation/src/main/webapp/WEB-INF/wsdl/AccountWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:jfxt2017="http://www.asiainfo-linkage.com/jfxt2017"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountWebService"
	targetNamespace="http://www.asiainfo-linkage.com/jfxt2017">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.asiainfo-linkage.com/jfxt2017">
			<xsd:element name="queryAccount" type="jfxt2017:QueryAccount" />
			<xsd:element name="queryAccountResponse" type="jfxt2017:QueryAccountResponse" />
			<xsd:complexType name="QueryAccount">
				<xsd:sequence>
					<xsd:element name="requestXml" type="xsd:string"
						maxOccurs="1" minOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="QueryAccountResponse">
				<xsd:sequence>
					<xsd:element name="responseXml" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- delAccount 定义 -->
			<xsd:element name="delAccount" type="jfxt2017:DelAccount" />
			<xsd:element name="delAccountResponse" type="jfxt2017:DelAccountResponse" />
			<xsd:complexType name="DelAccount">
				<xsd:sequence>
					<xsd:element name="requestXml" type="xsd:string"
						maxOccurs="1" minOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DelAccountResponse">
				<xsd:sequence>
					<xsd:element name="responseXml" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="queryAccountRequest">
		<wsdl:part element="jfxt2017:queryAccount" name="parameters" />
	</wsdl:message>
	<wsdl:message name="queryAccountResponse">
		<wsdl:part element="jfxt2017:queryAccountResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="delAccountRequest">
		<wsdl:part element="jfxt2017:delAccount" name="parameters" />
	</wsdl:message>
	<wsdl:message name="delAccountResponse">
		<wsdl:part element="jfxt2017:delAccountResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:portType name="AccountWebServicePort">
		<wsdl:operation name="queryAccount">
			<wsdl:input message="jfxt2017:queryAccountRequest" />
			<wsdl:output message="jfxt2017:queryAccountResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="delAccount">
			<wsdl:input message="jfxt2017:delAccountRequest" />
			<wsdl:output message="jfxt2017:delAccountResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AccountWebServiceSOAPBinding" type="jfxt2017:AccountWebServicePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="queryAccount">
			<soap:operation soapAction="http://www.asiainfo-linkage.com/jfxt2017/queryAccount" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="delAccount">
			<soap:operation soapAction="http://www.asiainfo-linkage.com/jfxt2017/delAccount" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>
	<wsdl:service name="AccountWebService">
		<wsdl:port binding="jfxt2017:AccountWebServiceSOAPBinding"
			name="AccountWebServiceSOAP">
			<soap:address location="http://localhost:8080" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
